html {
  margin: 40px;
  padding: 40px;
  background-color: purple;
  text-align: center;
}
#labels {
  font-family: 'Futura';
  font-size: 40px;
}
#outputText {
  font-family: "Arial";
  font-size: 40px;
}
